<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>[Pokémon] - Combat entre Pokémons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main>
      <form
        th:action="@{/pokemon/battle2}"
        th:object="${pokemonAttaquant}"
        method="post"
      >
        <input
          type="hidden"
          name="pokemonAttaquant"
          th:value="${pokemonAttaquant.id}"
        />
        <input
          type="hidden"
          name="pokemonDefenseur"
          th:value="${pokemonDefenseur.id}"
        />
        <div class="container-lg">
          <br />
          <div class="text">
            <h4>Règles de combat :</h4>
            <p>- Chaque Pokémon attaque à tour de rôle</p>
            <p>
              - Le pokémon attaquant (celui que vous choisissez) attaquera en
              premier.
            </p>
            <p>
              - Le type du Pokémon adversaire influs sur les dégâts de l'attaque
              de votre Pokémon en fonction de son type.
            </p>
            <br />
            <h4>Astuces :</h4>
            <p>
              Le combat va commencer, <strong>ENCOURAGEZ</strong> votre
              PokeFriends !
            </p>
            <br />
          </div>
          <br />
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3">
            <label
              th:text="'Pokémon Attaquant : ' + ${pokemonAttaquant.name} + ' ' + ${pokemonAttaquant.pc} + ' PC'"
            ></label>
          </div>
          <div class="col-1">
              <h2>VS</h2>
          </div>
          <div class="col-3">
            <label
              th:text="'Pokémon Défenseur : ' + ${pokemonDefenseur.name} + ' ' + ${pokemonDefenseur.pc} + ' PC'"
            ></label>
          </div>
        </div>
        <div class="row">
          <div class="col-5"></div>
          <div class="col-3">
            <div class="d-grid gap-2 d-md-block">
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-primary" type="submit">
                    COMBATTRE
                  </button>
                </div>
                <div class="col-8">
                  <a href="/pokemon/battle"
                    ><button class="btn btn-secondary" type="button">
                      CHANGER DE POKÉMON
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
