<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<header>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../">Accueil Pokémon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pokemon/pokemons">Liste des pokémons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pokemon/battle">Poké Battle</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Actions sur les pokémons
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/pokemon/post">Créer un nouveau Pokémon</a></li>
              <li><a class="dropdown-item" href="/pokemon/put">Modifier un Pokémon</a></li>
              <li><a class="dropdown-item" href="/pokemon/delete">Supprimer un Pokémon</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>