<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>[Pokémon] - Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <div th:replace="~{fragments/header :: header}"></div>
    <main>
      <div class="container-lg">
        <h4>Voici la liste des Pokémons que vous avez créer :</h4>
        <br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Identifiant du Pokédex</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Point de Combat</th>
              <th>Point de Vie</th>
              <th>Point d'Attaque</th>
              <th>Point de Défense</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="pokemon : ${pokemons}">
              <tr>
                <td th:text="${pokemon.id}"></td>
                <td>
                  <a th:href="@{/pokemon/__${pokemon.id}__}" th:text="${pokemon.name}"></a>
                </td>
                <td th:text="${pokemon.type}"></td>
                <td th:text="${pokemon.pc}"></td>
                <td th:text="${pokemon.pv}"></td>
                <td th:text="${pokemon.attack}"></td>
                <td th:text="${pokemon.defense}"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <br>
        <a href="/pokemon/pokeForm"><button class="btn btn-success" type="button">AJOUTER UN POKEMON</button></a>
      </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
