<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>[Books] - List of Book</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../">[PokeHub]</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/pokemon/pokemons"
                >Your PokeFriends !</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokemon/all">All pokemon JSON</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pokemon/name">Search for a pokemon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/form">PokeBattle</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-lg">
      <table>
        <th:block th:each="pokemon : ${pokemons}">
          <tr>
            <td th:text="${pokemon.id}"></td>
            <td th:text="${pokemon.name}"></td>
            <td th:text="${pokemon.type}"></td>
            <td th:text="${pokemon.pc}"></td>
          </tr>
        </th:block>
      </table>
    </div>
  </body>
</html>
